* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    min-height: 100vh;
    background: linear-gradient(to right top, #03318d, #78c9ff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    min-height: 80vh;
    background-color: white;
    /* width: 60%; */
    background: linear-gradient(to right bottom,
                                 rgb(255, 255, 255, 0.7),
                                 rgb(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    /* border: 2px solid black; */
}

.circle1,
.circle2, 
.circle3, 
.circle4 {
    width: 10rem;
    height: 10rem;
    background: linear-gradient(to right bottom,
    rgb(255, 255, 255, 0.7),
    rgb(255, 255, 255, 0.3));
    border-radius: 50%;
    animation: circle-animate linear infinite 10s;
}

.circle1 {
    position: absolute;
    top: 5%;
    right: 15%;
    background-color: rgb(2, 221, 250);
}

.circle2 {
    position: absolute;
    bottom: 5%;
    left: 12%;
    background-color: deeppink;
}
/* 
.circle3 {
    position: absolute;
    bottom: 15%;
    left: 2%;
    width: 5rem;
    height: 5rem;
}

.circle4 {
    position: absolute;
    bottom: 5%;
    left: 12%;
    background-color: deeppink;
} */

@keyframes circle-animate {
    0%, 100% {
        transform: translate(10px);
    }

    50% {
        transform: translate(20%);
    }
}

.box1,
.box2,
.box3,
.box4 {
    width: 5rem;
    height: 5rem;
    background: linear-gradient(to right bottom,
    rgb(255, 255, 255, 0.7),
    rgb(255, 255, 255, 0.3));
    border-radius: 5%;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(40%);
    }
}

.box1 {
    position: absolute;
    bottom: 20%;
    right: 3%;
    background-color: rgb(158, 255, 61);
}

.box2 {
    position: absolute;
    background-color: rgb(253, 62, 62);
    left: 5%;
    bottom: 30%;
    width: 3rem;
    height: 3rem;
}


.box3 {
    position: absolute;
    top: 5%;
    left: 3%;
    background-color: rgb(255, 1, 255);
} 

.box4 {
    position: absolute;
    top: 15%;
    right: 3%;
    width: 3rem;
    height: 3rem;
    background-color: red;
} 

aside {
    background: linear-gradient(to right bottom,
                              rgb(255, 255, 255, 0.2),
                             rgb(255, 255, 255, 0.5));
    border-radius: 2rem 0 0 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid green; */
}

.brand {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 800;
}

.brand img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 0.4rem rgb(255, 255, 255, 0.7);
}

.blog-title {
    font-size: 2rem;
    font-weight: lighter;
    margin: 0.5rem 0;
}

.tagline {
    font-size: 1.2rem;
}

.navigation {
    min-width: 12rem;
    /* border: 1px solid red; */
}
.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    margin: 1rem;
    background: rgb(255, 255, 255, 0.9);
    box-shadow: 0 1rem 2rem rgb(0 0 0 0.2);
}

.navigation ul li a:hover {
    background-color: rgb(255, 255, 255, 0.7);
    color: gray;
    transition: none;
}
.subscribe {
    /* border: 1px solid hotpink; */
    text-align: center;
}

.subscribe h3 {
    color: rgba(0,0,0,.8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: medium;
}

.subscribe input {
    padding: 0.4rem 0.9rem;
    border: none;
    margin-bottom: 0.5rem;
    outline: none;
    border:1px solid hotpink;
}

/* footer {
    border: 1px solid red;
    
} */

.main-section {
    flex: 2;
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

.search {
    /* border: 1px solid green; */
    margin-bottom: 3rem;
    font-size: small;
}
.search-title {
    margin-bottom: 0.3rem;
}

.search-input {
    padding: 0.5rem;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
    border: none;
    width: 15rem;
    /* margin-left: 2rem; */
    border-radius: 2rem;  
    outline: none;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid yellow; */
}

.post {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid brown; */
    margin-bottom: 1rem;
    padding: 1rem;
    background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5)
  ); 
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);  
    border-radius: 2rem;
}

.post img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 0 0.5rem;
    object-fit: cover;
    box-shadow: 0 0 0 0.3rem rgb(255, 255, 255, 0.7);
}

.post-info {
    margin-left: 0.8rem;
    /* border: 1px solid blueviolet; */
}

.post-info h2 {
    margin-bottom: 0.3rem;
    color: rgb(59, 54, 54);
    font-size: medium;
}

.post-info p {
    font-size: small;
    margin-bottom: 0.5rem;
    color: rgb(71, 70, 70);
}

.post-info a {
    text-decoration: none;
    font-size: small;
    color:black;
}

.post-info i {
    font-size: x-small;
}