* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    background: linear-gradient(to right top, #03318d, #78c9ff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    min-height: 80vh;
    background-color: white;
    width: 60%;
    background: linear-gradient(to right bottom,
                                 rgb(255, 255, 255, 0.7),
                                 rgb(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    
}

.circle1,
.circle2 {
    width: 20rem;
    height: 20rem;
    background: linear-gradient(to right bottom,
    rgb(255, 255, 255, 0.7),
    rgb(255, 255, 255, 0.3));
    border-radius: 50%;
}

.circle1 {
    position: absolute;
    top: 5%;
    right: 10%;
}

.circle2 {
    position: absolute;
    bottom: 5%;
    left: 10%;
}

aside {
    background: linear-gradient(to right bottom,
                              rgb(255, 255, 255, 0.2),
                             rgb(255, 255, 255, 0.1));
    border-radius: 2rem 0 0 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    
}

.subscribe {
    color: white;
    background: linear-gradient(to right bottom,
    rgba(199, 75, 137, 0.1),
    rgba(238, 160, 160, 0.3));
}

.main-section {
    flex: 2;
    background: linear-gradient(to right bottom,
    rgba(174, 217, 235, 0.1),
    rgba(160, 214, 238, 0.3));
}